.hero-pattern {
    background-color: #ffffff;
    opacity: 0.8;
    background-image:  radial-gradient(#2e3b55 0.5px, transparent 0.5px), radial-gradient(#2e3b55 0.5px, #ffffff 0.5px);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
}
.clip-path-slant {
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
